@model List<UniversityPayroll.Models.SalaryStructure>
@{
    ViewData["Title"] = "Salary Structures";
}

<div id="react-root"></div>
<script>    window.structuresData = @Json.Serialize(Model); </script>
<script  type="text/babel"  data-presets="react"  src="@(Url.Content("~/js/SalaryStructureApp.jsx"))"></script>