@model UniversityPayroll.Models.Employee

<h2>Create Employee</h2>
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @if (ViewBag.Errors != null)
    {
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    }


    <label>Email (login)</label>
        <input name="email" type="email" class="form-control" required />

    <label>Password</label>
        <input name="password" type="password" class="form-control" required />


    <div>
        <label asp-for="EmployeeCode"></label>
        <input asp-for="EmployeeCode" />
    </div>
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="Department"></label>
        <input asp-for="Department" />
    </div>
    <div>
        <label asp-for="DateOfJoining"></label>
        <input asp-for="DateOfJoining" type="date" />
    </div>
    <div>
        <label asp-for="BasicPay"></label>
        <input asp-for="BasicPay" type="number" step="0.01" />
    </div>
    <div>
        <label asp-for="HraPercent"></label>
        <input asp-for="HraPercent" type="number" step="0.01" />
    </div>
    <div>
        <label asp-for="DaPercent"></label>
        <input asp-for="DaPercent" type="number" step="0.01" />
    </div>
    <div>
        <label>Bank IFSC</label>
        <input asp-for="BankAccount.IFSC" />
    </div>
    <div>
        <label>Bank Account Number</label>
        <input asp-for="BankAccount.AccountNumber" />
    </div>
    <div>
        <label asp-for="Status"></label>
        <input asp-for="Status" />
    </div>
        <div>
        <label asp-for="Designation"></label>
        <input asp-for="Designation" />
    </div>

    <div>
        <button type="submit">Save</button>
        <a href="/Employee">Back to List</a>
    </div>
</form>
