@model List<UniversityPayroll.Models.TaxSlab>
@{ ViewData["Title"] = "Tax Slabs"; }

<div id="react-root"></div>
<script> window.taxSlabsData = @Json.Serialize(Model); </script>
<script type="text/babel" src="@(Url.Content("~/js/TaxSlabApp.jsx"))"> </script>
