@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Employees</h5>
                <a asp-controller="Employee" asp-action="Index" class="btn btn-sm btn-primary">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Salary Structures</h5>
                <a asp-controller="SalaryStructure" asp-action="Index" class="btn btn-sm btn-primary">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Tax Slabs</h5>
                <a asp-controller="TaxSlab" asp-action="Index" class="btn btn-sm btn-primary">Manage</a>
            </div>
        </div>
    </div>
    
</div>
